:root {
    --cloud-white: rgba(98%, 98%, 98%);
    --sky-blue: rgb(53, 140, 203);
    --night-black: rgb(5%, 5%, 5%);
    --earth-green: rgb(131, 182, 141);
}

* {
    margin-top: 0px;
}

.app {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
        "Arial", sans-serif;
}

.app.dark {
    color: var(--cloud-white);
}

.app.light {
    color: var(--night-black);
}

.section {
    padding: 30px;
    padding-bottom: 50px;
    margin-top: 150px;
    margin-left: 40px;
    margin-right: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.section.dark {
    color: var(--cloud-white);
    background-color: rgba(100%, 100%, 100%, 0.1);
}

.section.light {
    color: var(--night-black);
    background-color: rgba(0%, 0%, 0%, 0.05);
}

.header {
    font-size: 40px;
}

.banner {
    position: fixed;
    left: 0;
    z-index: 999;
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: space-between;

    background: var(--cloud-white);
}

.banner.light {
    background: var(--night-black);
}

.banner-icons-container {
    display: flex;
}

.banner-mode-icon {
    height: 28px;
    padding-top: 7px;
    margin-left: 20px;
}

.banner-anchors-wrapper {
    margin: 7.5px;
}

.banner-anchor {
    font-size: 20px;
    margin-left: 20px;
    width: 90px;
    top: auto;
    text-decoration: none;
    transition: 0.2s;
    color: var(--night-black);
}

.banner-anchor.light {
    color: var(--cloud-white);
}

.banner-anchor:hover {
    color: var(--sky-blue);
}

.about.dynamic {
    color: var(--night-black);
    background-color: rgba(0%, 0%, 0%, 0.05);
}

.name {
    padding-top: 250px;
    text-align: center;
}

.name.dark {
    color: var(--cloud-white);
}

.about-content {
    display: flex;
    flex-wrap: wrap;
}

.bio-list {
    font-size: 20px;
    padding-bottom: 20px;
}

.bio-introduction {
    font-size: 24px;
}

.bio-info {
    box-sizing: border-box;
    padding-right: 20px;
    max-width: 400px;
}

.my-photo {
    max-width: 300px;
    height: fit-content;
    padding-left: 20px;
}

.name {
    font-size: 72px;
    color: rgb(15, 15, 15);
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.socials-wrapper {
    text-align: center;
}

.socials-wrapper.bannerIcons {
    margin-right: 15px;
}

.social-media-icon {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    position: relative;
    filter: invert(0.0666);
}

.social-media-icon:hover {
    filter: opacity(0.75);
    transition: 0.2s;
}

.social-media-icon.bodyIcons.dark {
    filter: invert(0.98);
}

.social-media-icon.bannerIcons.light {
    filter: invert(0.98);
}

.projects.dynamic {
    color: var(--cloud-white);
    background-color: rgba(100%, 100%, 100%, 0.1);
}

.projects-header {
    color: var(--cloud-white);
}

.demo {
    width: 550px;
    height: 250px;
}

.demo-hover-wrapper:hover {
    transform: translate(0px, -5px);
    transition: transform 0.3s;
}

.projects-column-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.demo-link-wrapper {
    width: 100%;
    height: 100%;
}

.hover-video-player {
    width: 100%;
    height: 100%;
}

.paused-overlay {
    padding: 30px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    color: var(--cloud-white);
    background-color: rgba(0, 0, 0, 0.75);
}

.paused-overlay-header {
    width: auto;
    display: flex;
    justify-content: space-between;
    bottom: 0px;
}

.paused-overlay-title {
    font-size: x-large;
}

.paused-overlay-info {
    color: var(--cloud-white);
    margin-top: 20px;
}

.hover-external-link {
    filter: invert(1);
    height: 40px;
    margin-top: -8px;
}

.experience.dynamic {
    color: var(--cloud-white);
    background-color: rgba(100%, 100%, 100%, 0.1);
}

.internship-columns-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.internship-column {
    display: grid;
    width: fit-content;
    gap: 20px;
}

.internship-column-title {
    margin-bottom: 0px;
    text-align: center;
}

.internship-wrapper {
    width: 350px;
    height: 80px;
    padding: 1em;
    font-weight: 500;
}

.internship-header {
    max-height: 30px;
    display: flex;
    justify-content: space-between;
}

.internship-wrapper.dynamic {
    color: var(--cloud-white);
    background-color: rgba(100%, 100%, 100%, 0.1);
}

.internship-wrapper.dark {
    color: var(--cloud-white);
    background-color: rgba(100%, 100%, 100%, 0.1);
}

.internship-wrapper.light {
    color: var(--night-black);
    background-color: rgba(0%, 0%, 0%, 0.1);
}

.company {
    font-size: medium;
}

.time {
    font-size: medium;
    justify-content: right;
}

.role {
    font-size: small;
}

/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #97a2b7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
